{% extends "dwp-prototype-index-page.html" %}

{% block summaries %}

  {{dwpPrototypeSummaries([
    {
      dateOfRelease: "9 Jan 2020",
      feature: "Manhattan 4.1",
      jiraStory: "MAN-306",
      link: "/version-4-0/",
      changes: [
        "Removal of growth information."
      ],
      research: [
        " "
      ]
    },
    {
      dateOfRelease: "6 Nov 2019",
      feature: "Manhattan 4.0",
      jiraStory: "MAN-260",
      link: "/version-4-0/",
      changes: [
        "Removal of sectors."
      ],
      research: [
        " "
      ]
    },
    {
      dateOfRelease: "17 July 2019",
      feature: "Manhattan 3.3",
      jiraStory: "-",
      link: "/version-3-3/",
      changes: [
        "Extra changes to bring in line with Examine a Place more."
      ],
      research: [
        " "
      ]
    },{
      dateOfRelease: "12 July 2019",
      feature: "Manhattan (Post design review)",
      jiraStory: "-",
      link: "/version-3-2/",
      changes: [
        "First loop through design review."
      ],
      research: [
        " "
      ]
    },
    {
      dateOfRelease: "5 July 2019",
      feature: "Manhattan",
      jiraStory: "-",
      link: "/version-3-1/",
      changes: [
        "As per Daniel's flask work."
      ],
      research: [
        " "
      ]
    }
  ])}}

{% endblock %}